.sec-nav-btn {
    display: block;
    height: 24px;
    padding: 0px 20px 0px 20px;
}
.sec-nav-btn .primary-title {
    font-size: 16px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    cursor: pointer;
}
.sec-nav-btn .primary-body {
    background-repeat: no-repeat;
    background-position: top center;
    display: block;
    width: 100%;
    min-height: 70px;
}
.sec-nav-btn .text-content {
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 4px 4px 4px 4px;
}

