.sec-nav-btn {
    display: block;
    width: 30px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    cursor: pointer;
    background-color: white;
    border: thin solid #E0E0E0;
    border-radius: 4px;
    padding: 0px 6px 6px 6px;
    border-top: none;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.3;
}
.sec-nav-btn:hover {
    opacity: 1;
}
