.mtbar_bg {
    position: absolute;
    top:0px;
    display: flex;
    height: 46px;
    background-image: linear-gradient(#b2dcff, white);
    opacity: 0.6;
    align-items: center;
    flex-shrink: 0;
    z-index: 99;
    width: 900px;
}
.mtbar {
    position: absolute;
    top:0px;
    display: flex;
    height: 46px;
    align-items: center;
    color: #424242;
    flex-shrink: 0;
    z-index: 100;
    width: 900px;
}
.mtbar-dropdown {
    transition: all 0.5s ease;
}
.mtbar-dropdown:hover {
    color: #212121;
}
.mtbar-dropdown-link {
    display: flex;
    padding: 0 !important;
    align-items: center;
    flex: 1;
}
.mtbar-dropdown-link span {
    font-family: "Lucida Grande", Helvetica, sans-serif;
    font-size: 12px;
}
.mtbar_icon {
    cursor: pointer;
    color: inherit;
    margin-top: 4px;
    display: block;
    width: 40px;
    height: 65px;
    border: thin solid #0f0f0f;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}
.nav-hlp {
    width: 100%;
    text-align: center;
}