<div class="mtbar_bg"></div>
<div class="mtbar">
    <div ng-repeat="link in nbc.links">
        <navbar-button
                heading="{{link.heading}}"
                title="Link to {{link.title}} page"
                image="{{link.image}}"
                text="{{link.text}}"
                link="{{link.link}}"
                bgcolour="{{link.bgcolour}}">
        </navbar-button>
    </div>
    <div class="nav-hlp">
        <a href="glos/features/support/help.html" title="Link to support page, to help resolve problems viewing this web site">Problems viewing this Page?</a>
    </div>
    <div>
        <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
    </div>
</div>