.cs-header {
    position: relative;
    top: -10px;
    z-index: 5;
}
.cs-title {
    width: 600px;
    background-image: url("/glos/features/horsley-community-shop/img/bg-title.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 20px 0px 10px 0px;
    height: 120px;
    margin-bottom: -20px;
}
.cs-idocs iframe {
    position: relative;
    top: -40px;
    border: none;
    display: block;
    width: 900px;
    height: 900px;
    z-index: 4;
}