.cs-header {
    position: relative;
    top: 20px;
    z-index: 5;
}
.cs-header h4 {
    color: #ffffff;
}
.cs-header a {
    color: #ffffff;
}
.cs-title {
    width: 600px;
    padding: 20px 0px 10px 0px;
    height: 120px;
    margin-bottom: -20px;
}
.cs-txt {
    color: #005a66;
    font-family: arial,verdana;
    font-size: 22px;
    margin: 4px 4px 4px 12px;
}
.cs-txt h2 {
    text-align: center;
    color: #ffff00;
    font-weight: bold;
    margin-bottom: -15px;
}
.cs-txt h3 {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    text-space: 5px;
    font-weight: bold;
}
.cs-img {
    border: solid 2px #ffffff;
    margin-top: 60px;
}
.display_archive {
    margin: 4px 4px 4px 10px;
    color: #243313;
    font-family: arial,verdana;
    font-size: 16px;
}
.campaign {
    line-height: 125%; margin: 5px;
}
.campaign a {
    color: #007c8c;
}
.cs-page-bg {
    background-image: url("/glos/features/horsley-community-shop/img/bg-1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    top:-30px;
}
.cs-news {
    margin: 0 auto;
    display: block;
    max-width: 600px;
}