.hmenu {
    position: fixed;
    top: 10px;
    right: 0px;
    z-index: 100;
}
.hmenu-tab {
    display: block;
    padding: 4px 8px 0px 8px;
    height: 70px;
    width: 40px;
    border-radius: 10px 0px 0px 10px;
    border-right: solid thin #424242;
    white-space: nowrap;
    background-color: #424242;
    opacity: 0.9;
}
.hmenu-tab:hover {
    cursor: pointer;
}
.hmenu-tab-title {
    font-size: 18px;
    color: white;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transform-origin: center center;
    text-align: center;
    padding: 0px 0px 10px 0px;
}
.smenu {
    position: fixed;
    top: 82px;
    right: 0px;
    z-index: 100;
}
.smenu-box {
    margin-right: -400px;
    position: relative;
    z-index: 1000;
    transition-duration: 0.5s;
}
.smenu-box.show {
    margin-right: 0px;
}
.smenu-tab {
    display: block;
    padding: 4px 8px 0px 8px;
    height: 110px;
    width: 40px;
    border-radius: 10px 0px 0px 10px;
    border-right: solid thin #558B2F;
    white-space: nowrap;
    background-color: #33691E;
    margin-bottom: -110px;
    opacity: 0.9;
}
.smenu-tab:hover {
    cursor: pointer;
}
.smenu-tab-title {
    font-size: 18px;
    color: white;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transform-origin: center center;
    text-align: center;
    padding: 0px 0px 10px 20px;
}
.smenu-content {
    width: 400px;
    min-height: 110px;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
    margin-left: 40px;
    padding: 10px 4px 4px 4px;
    background: #33691E;
    opacity: 0.9;
}