.smenu {
    position: fixed;
    top: 40px;
    right: 0px;
    z-index: 100;
}
.smenu-box {
    margin-right: -400px;
    position: relative;
    z-index: 1000;
    transition-duration: 0.5s;
}
.smenu-box.show {
    margin-right: 0px;
}
.smenu-tab {
    display: block;
    padding: 4px 8px 0px 8px;
    height: 130px;
    width: 40px;
    border-radius: 10px 0px 0px 10px;
    white-space: nowrap;
    background-color: #689F38;
    margin-bottom: -130px;
    opacity: 0.9;
}
.smenu-tab-title {
    font-size: 18px;
    color: white;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transform-origin: center left;
    text-align: center;
    padding: 0px 0px 20px 0px;
}
.smenu-content {
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
    margin-left: 40px;
    background: #f6f6f6;
    opacity: 0.9;
}