.pl-container {
    width: 800px;
    align-items: center;
    justify-content: center;
}
.pl-tabs {
    align-items: center;
    justify-content: center;
    margin: -20px 0px 20px 0px;
}
.nav-menu {
    -webkit-align-self: flex-start;
    align-self: flex-start;
}