<div class="flex-container">
    <div class="page-banner">
        <div class="text-content title">{{pl.heading}}</div>
        <div class="text-content subtitle">{{pl.subheading}}</div>
    </div>
</div>
<div class="flex-container">
    <div>
        <ul class="nav nav-tabs pl-tabs">
            <li ng-repeat="page in pl.pages" ng-class="page.pageNumber === pl.currentPage? true: 'active'">
                <a ng-click="pl.goto(page)" title="{{page.subtitle}}">{{page.title}}</a>
            </li>
        </ul>
    </div>
</div>
<div ng-include=pl.pageURL></div>
