<div>
    <div class="page-banner">
        <div class="text-content title">{{pl.title}}</div>
        <div class="text-content subtitle">{{pl.subtitle}}</div>
    </div>
    <div ng-cloak>
        <md-content class="md-padding">
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <div ng-repeat="page in pl.pages">
                    <div ng-click="goto(page.url)" title="{{page.subtitle}}">
                        Page {{page.title}}
                    </div>
                </div>
            </md-nav-bar>
            <div class="ext-content">
                <div ng-include=hc.pageName></div>
            </div>
        </md-content>
    </div>
</div>
