/* BACKGROUNDS*/
.gray-bg {
    background-color:#f3f3f4;
}

body {
    font-family: "Open Sans";
}

body #page-wrapper {
    height: 100%;
    min-height: 1200px;
}

.pace-done #page-wrapper {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin:  0 auto;
    padding-top: 40px;
}

.middle-box h1 {
    font-size: 170px;
}

