
body {
    font-family: "Open Sans";
}

body #page-wrapper {
    height: 100%;
    min-height: 1200px;
}

.pace-done #page-wrapper {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* COLOURS */

.primary-title {
    background-color: #689F38;
    color: white;
    text-align: center;
}
.primary-body {
    background-color: #8BC34A;
    color: white;
}
.primary-border {
    border: solid thin #EEEEEE;
}
