
body {
    font-family: "Open Sans";
}

body #page-wrapper {
    position: relative;
    height: 100%;
    height: 1500px;
}

.pace-done #page-wrapper {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.hdr-container {
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 900px;
    padding: 0;
}
.parallax-0 {
    display: block;
    width: 100%;
    height: 50px;
    position:absolute;
    top:20px;
    transition-property: all;
    transition-property: transform;
    transition-duration: 0.1s;
    background-image: url("/web/images/img-hdr-para-layer0.png");
    background-repeat: no-repeat;
    background-position: center top;
    z-index:1;
}
.parallax-1 {
    display: block;
    width: 100%;
    height: 100px;
    position:absolute;
    top:30px;
    transition-property: all;
    transition-property: transform;
    transition-duration: 0.1s;
    background-image: url("/web/images/img-hdr-para-layer1.png");
    background-repeat: no-repeat;
    background-position: center top;
    z-index:2;
}
.parallax-2 {
    display: block;
    width: 100%;
    height: 200px;
    position:absolute;
    top:10px;
    transition-property: all;
    transition-property: transform;
    transition-duration: 0.1s;
    background-image: url("/web/images/img-hdr-para-layer2.png");
    background-repeat: no-repeat;
    background-position: center top;
    z-index:3;
}
.main-container {
    height: 100%;
    position:absolute;
    top:300px;
    width:100%;
    display:block;
    background-image: url('/web/images/img-hdr-para-layer3.png');
    background-position: center top;
    background-repeat: no-repeat;
    z-index:4;
}
.main-container .main-page {
    background-color: white;
}
.footer-container {
    position: relative;
    height: 100px;
    width: 100%;
    margin-top: 80px;
    border-top: solid thin #37474F;
    padding: 10px 10px 10px 10px;
    text-align: center;
    height: 100px;
}


/* COLOURS */

.primary-title {
    background-color: #689F38;
    color: white;
    text-align: center;
}
.primary-body {
    background-color: #8BC34A;
    color: #37474F;
}
.primary-border {
    border: solid thin #EEEEEE;
}
.text-content {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 100;
    color: #37474F;
}
.page-banner {
    position: relative;
    top:-50px;
}
.title {
    position: relative;
    font-size: 40px;
    text-align: center;
    margin-bottom: -4px;
}
.subtitle {
    font-size: 14px;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}