
body {
    font-family: "Open Sans";
}

body #page-wrapper {
    position: relative;
    height: 100%;
    height: 1500px;
}

.pace-done #page-wrapper {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.main-container {
    height: 100%;
    position:absolute;
    top:185px;
    width:100%;
    display:block;
    background-image: url('/web/images/img-hdr-para-layer3.png');
    background-position: center top;
    background-repeat: no-repeat;
    z-index:4;
}
.main-container .main-page {
    background-color: white;
}
.footer {
    margin-top: 40px;
}
.footer-container {
    margin: 0 auto;
    height: 100px;
    width: 900px;
    padding: 0;
    border-top: solid thin #37474F;
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: white;
}

.primary-title {
    background-color: #689F38;
    color: white;
    text-align: center;
}
.primary-body {
    background-color: #8BC34A;
    color: #37474F;
}
.primary-border {
    border: solid thin #EEEEEE;
}
.text-content {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 100;
    color: #37474F;
}
.page-banner {
    padding: 20px 0px 10px 0px;
    height: 120px;

}
.title {
    position: relative;
    font-size: 40px;
    text-align: center;
    margin-bottom: -4px;
}
.subtitle {
    font-size: 14px;
    text-align: center;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
}
.flex-container-row {
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.flex-container-column {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.col-pad-20 {
    width: 20px;
}
.text-block {
    width: 900px;
    padding: 6px 20px 6px 20px;
}
