.pl-container {
    width: 860px;
    align-items: center;
    justify-content: center;
}
.pl-tabs {
    align-items: center;
    justify-content: center;
    margin: 0px 0px 10px 0px;
    font-size: 13px;
}
.nav-menu {
    -webkit-align-self: flex-start;
    align-self: flex-start;
}