
    <div class="flex-container flex-container-row">
        <div class="page-banner">
            <div class="text-content title">{{pl.heading}}</div>
            <div class="text-content subtitle">{{pl.subheading}}</div>
        </div>
    </div>
    <div class="flex-container flex-container-row">
        <div>
            <ul class="nav nav-tabs pl-tabs">
                <li ng-repeat="page in pl.pages" ng-class="page.pageName === pl.currentPage? true: 'active'">
                    <a ng-click="pl.goto(page)" title="{{page.subtitle}}">{{page.title}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="stnd-bg" ng-include=pl.pageURL></div>
