
.hdr-para-container {
    height: 300px;
    overflow: visible;
}
.hdr-para-layer0 {
    position:absolute;
    top:10px;
    width:100%;
    height:180px;
    display:block;
    background-image: url('/web/images/img-hdr-para-layer0.png');
    background-repeat: no-repeat;
    background-position: center top;
    z-index:1;
}
.hdr-para-layer1 {
    position:absolute;
    top:140px;
    width:100%;
    height:200px;
    display:block;
    background-image: url('/web/images/img-hdr-para-layer1.png');
    background-repeat: no-repeat;
    background-position: center top;
    z-index:2;
}
.hdr-para-layer2 {
    position:absolute;
    top:40px;
    width:100%;
    height:200px;
    display:block;
    background-image: url('/web/images/img-hdr-para-layer2.png');
    background-repeat: no-repeat;
    background-position: center top;
    z-index:3;
}
.hdr-para-layer3 {
    position:absolute;
    top:120px;
    width:100%;
    height:300px;
    display:block;
    background-image: url('/web/images/img-hdr-para-layer3.png');
    background-position: center top;
    z-index:4;
}
.content-container {
    height: 100%;
    position:absolute;
    top:300px;
    width:100%;
    display:block;
    z-index:5;
}
.footer-container {
    position: relative;
    height: 100px;
    width: 100%;
    margin-top: 80px;
    border-top: solid thin #37474F;
    padding: 10px 10px 10px 10px;
    text-align: center;
    height: 100px;
}