#EPIstats1 {
	-webkit-transform: rotate(270deg);	/* Safari y Chrome */
	-moz-transform: rotate(270deg);		/* Firefox */
	-o-transform: rotate(270deg);		/* Opera */
    transform: rotate(270deg);  		/* Safari y Chrome */	
	writing-mode: lr-bt;				/* IE 9+ */
    float: left;
	position:absolute; 
	top:50px; 
	left:-65px;
	color:#000; 
	background: #FFFFFF;	
	opacity: 0.3;
}
#EPIstats2 {
	-webkit-transform: rotate(270deg);	/* Safari y Chrome */
	-moz-transform: rotate(270deg);		/* Firefox */
	-o-transform: rotate(270deg);		/* Opera */
    transform: rotate(270deg);  		/* Safari y Chrome */	
	writing-mode: lr-bt;				/* IE 9+ */
    float: left;
	position:absolute; 
	top:50px; 
	right:-55px;
	color:#000; 
	background: #FFFFFF;	
	opacity: 0.3;
}
.frame {
	position:absolute;
	left:200px;
	height: 2400px;
	overflow:hidden;
	width: 700px;
	text-align:left;
	z-index:1;
}
.frame ul {
	list-style: none;
	width:700px;
	height: 100%;
	position:relative;
	left:-4px;
}
.frame ul li {
	float: left;
	width: 700px;
	height: 100%;
	display:inline-block;
}
.scrollbar {
	width:900px;
	height: 6px;
	background: #FDE5A5;
	line-height: 0;
	opacity:0.6;
	position:absolute;
	left: 0px;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
	cursor: pointer;
	position:absolute;
	left:0px;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -20px;
	left: 0;
	width: 100%;
	height: 20px;
	opacity:0.8;
}
.Instructions {
	display:inline-block;
	overflow:hidden;
	position:absolute;
	background-image:url(/images/bg_edit_help.png);
	background-position:top right;
	top:-21px; 
	right:0px;	
	width:160px;
	height:21px;
	z-index:200;
	color:#FFF;
	text-align:left;
}

.Instructions:hover {	
	width:550px;	
	height:600px;
}
.Instructions a {
	color:#FFF;
	text-decoration:none;
}
.sliderH {
	color:#CCC;
}
#editmenu {
	background:none;
	width:175px;
	position:relative;
	top:0px;
	background-image:url(/images/bg_edit_toolbar.png);
	background-repeat:no-repeat;
	z-index:5;
}
#noeditmenu {
	background:none;
	width:175px;
	position:absolute;
	top:0px;
	z-index:5;
}
.MenuItems a {
	vertical-align:middle;
	height:16px;
	width:172px;
	display:inline-block;
	font:Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color:#FFF;
	font-weight:bold;
	position:relative;
	text-decoration:none;
	margin-bottom:0px;
	padding:2px 0px 2px 0px;	
}
.MenuItems a.image {
	width:172px;
	height:35px;
	position:relative;
}
.MenuItems a:hover {
	color:#FF0;
	vertical-align:middle;
	cursor:pointer;
	background-color:#42330C;
	text-indent:5px;
}
#noeditmenu .Selected {
	background-image:url(/images/bg_submenu.jpg);
	width:172px;
	position:relative;
	top:0px;
	left:-2px;
}
#editmenu .Selected {
	background-image:url(/images/bg_sel_submenu.jpg);
	width:172px;
	position:relative;
	top:0px;
	left:-2px;
}
.MenuItems .SM {
	position:relative;
}
.MenuItems .SM a {
	text-indent:20px;
	color:#FFC;
}
.MenuItems .SM a:hover {
	color:#FF0;
	text-indent:15px;
}
.MenuItems .EDITSM {
	position:relative;
}
.MenuItems .EDITSM a {
	text-indent:20px;	
	display:inline-block;
	font-size: 12px;
	color:#CFC;
}
.MenuItems .EDITSM .TextEdit {
	padding:2px 2px 2px 20px; 
	background-color:#333; 
	color:#EEE; 
	position:relative; 
	width:150px;
	height:17px;
	font-size:12px;
	border:solid thin;
	border-top-color:#000;
	border-right-color:#000;
	border-left-color:#333;
	border-bottom-color:#999;
	margin-left:0px;
	padding-bottom:20px;
}
.MenuItems td.Small a {
	vertical-align:middle;
	height:15px;
	display:inline-block;
	font:Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration:none;
	color:#FFF;
	width:165px;
}
.MenuItems td.Small a:hover {
	font-size: 11px;
	font-weight:bold;
	background-color:#664B04;
	vertical-align:top;
}
.SubMenuEdit {
	display:inline-block;
	position:relative;
	top:-22px;
	margin-bottom:-22px;
	left:0px;	
	width:150px;
	height:20px;
	padding-left:25px;
}
.SubMenuEdit a {
	margin-right:5px;
}
.myNicPanel {
	width:567px;
	height:0px;
	position:relative;
	z-index:5;
}
.text_inner {
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	text-align:left;
}
.text1 {
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	font-style:italic;
	text-align:left;
}
.small_white a {
	font-size:10px;
	padding:0px;
	height:12px;	
}
.small_white a:hover {
	font-weight:bold;
	font-size: 10px;
	width:165px;
	background:none;
}
a.prev {
	background-image:url(/images/arrowL_white.png);
	width:50px;
	height:49px;
	display:inline-block;
	position:absolute;
	top:-60px;
	right:85px;
	z-index:10;	
}
a.prev:hover {
	background-image:url(/images/arrowL.png);
}
a.next {
	background-image:url(/images/arrowR_white.png);
	width:50px;
	height:49px;
	display:inline-block;
	position:absolute;
	top:-60px;
	right:40px;
	z-index:10;
}
a.next:hover {
	background-image:url(/images/arrowR.png);
}

a.smallbutton {
    border: 1px solid #896505;
	background-color:#8F7122;
    border-radius: 6px;
    box-shadow: inset 0 1px 1px #fff, inset 0 -10px #473503, 0 0 2px #473503;
    color:#FFF;
	font-size:11px;
    padding: 2px 6px;
    cursor:pointer;
	width:100%;	
	height:14px;
}
a.smallbutton:hover {
    background-color: #F9C12B;
    border: 1px solid #B28306;
	box-shadow: inset 0 1px 1px #fff, inset 0 -10px #B28306, 0 0 2px #B28306;
    color:#000;
	font-size:11px;
    padding: 2px 6px;
    cursor:pointer;
	width:100%;	
	height:14px;
}
a.WasteBin {
	display:block;
	width:24px;
	height:16px;
	background-image:url(/images/delete_grey.png);
	background-repeat:no-repeat;
	background-position:center;
	border:none;
	cursor:pointer;
}
a.WasteBin:hover {
	background-image:url(/images/delete.png);
}
a.DelImage {
	display:block;
	width:24px;
	height:16px;
	background-image:url(/images/del_image.png);
	background-repeat:no-repeat;
	background-position:center;
	border:none;
	cursor:pointer;
}
a.DelImage:hover {
	background-image:url(/images/del_image_H.png);
	
}
a.Save {
	display:inline-block;
	width:16px;
	height:16px;
	background-image:url(/images/save.png);
	background-repeat:no-repeat;
	background-position:center;	
	cursor:pointer;
}
a.Save:hover {
	background-image:url(/images/save_H.png);
}
a.Upload {
	display:inline-block;
	width:120px;
	height:15px;
	color:#FFF;
	cursor:pointer;
}
a.Upload:hover {
	color:#FF0;
}
a.WasteBinG {
	display:inline-block;
	width:24px;
	height:16px;
	background-image:url(/images/delete_grey.png);
	border:none;
	cursor:pointer;
}
a.WasteBinG:hover {
	background-image:url(/images/delete.png);
}
a.InsertAbove {
	display:inline-block;
	width:24px;
	height:16px;
	background-image:url(/images/insert_above_grey.png);
	background-repeat:no-repeat;
	background-position:center;
	border:none;
	cursor:pointer;
}
a.InsertAbove:hover {
	background-image:url(/images/insert_above.png);
}
a.InsertBelow {
	display:inline-block;
	width:24px;
	height:16px;
	background-image:url(/images/insert_below_grey.png);
	background-repeat:no-repeat;
	background-position:center;
	border:none;
	cursor:pointer;
}
a.InsertBelow:hover {
	background-image:url(/images/insert_below.png);
}
a.ArrowUp {	
	background-image:url(/images/arrow_UP.png);
	background-repeat:no-repeat;
	background-position:center;
	display:inline-block;
	width:24px;
	height:16px;
	border:none;
}
a.ArrowUp:hover {
	background-image:url(/images/arrow_UP_H.png);
}
a.ArrowDown {	
	background-image:url(/images/arrow_DOWN.png);
	background-repeat:no-repeat;
	background-position:center;
	display:inline-block;
	width:24px;
	height:16px;
	border:none;
}
a.ArrowDown:hover {
	background-image:url(/images/arrow_DOWN_H.png);
}
a.AcceptBooking {
	display:inline-block;
	width:16px;
	height:16px;
	background-image:url(/images/Accept_grey.png);
	cursor:pointer;
}
a.AcceptBooking:hover {
	display:inline-block;
	width:16px;
	height:16px;
	background-image:url(/images/Accept.png);
	cursor:pointer;
}
a.LB_tab {
	display:inline-block;
	width:120px;
	height:18px;
	color:#FFF;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	background-image:url(/images/bg_lb_tab.jpg);
	background-repeat:no-repeat;
	cursor:pointer;
	padding:5px;
	margin-bottom:-5px;
}
a.LG_tab {
	display:inline-block;
	width:60px;
	height:18px;
	color:#999;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	background-image:url(/images/bg_lg_tab.jpg);
	background-repeat:no-repeat;
	cursor:pointer;
	padding:5px;
	margin-bottom:-5px;
}
.small_yellow {
	font-size:10px;
	padding:5px;
	color:#FF0;
	width:165px;
}
.EditablePage {
	position:absolute;
	width:725px;
	border: 1px solid #CCC;
	box-shadow: 2px 2px 0 #999;
}
.CalDayTitle {
	font-size:9px;
	text-align:center;
}
.tcal .CalDayTitle {
	font-size:8px;
	text-align:center;
	filter: alpha(opacity=70);
	opacity:0.7;	
}
.CalDay {
	width:100%;
	height:20px;
	border: none;
	position:relative;
}
.tcal .CalDay {
	width:100%;
	height:20px;
	border: none;
	position:relative;	
	zoom: 1;
	filter: alpha(opacity=70);
	opacity:0.7;
}
.CalDay a {
	color:#333;
	font-size:11px;
	width:100%;
	height:100%;
	display:inline-block;
	text-decoration:none;
	padding:1px;
}
.CalDay a:hover {
	color:#FFF;
	background-color:#333;
	width:100%;
	height:100%;
	display:inline-block;
}
.CalDay td {
	width:100%;
	height:100%;
}
.CalDay td.MW {
	border: solid thin #DDD;
}
.CalDay td.WE {
	border: solid thin #DDD;	
	background-color: #FDE8B7;
}
.CalDay td.CalToday {
	border: solid thin #666;	
	background-color: #FBE084;
}
.CalDay .Selected a {
	color:#FFF;
	background-color: #004080;
}
.CalWeekDate {
	font-size:24px;
}
.Transparent_40 {
	filter: alpha(opacity=40);
	opacity:0.4;
}
.Transparent_90 {
	filter: alpha(opacity=90);
	opacity:0.9;
}
.icon_cal a {
	background-image:url(/images/ICON_calendar.jpg);
	font-size:12px;
	color:#666;
	text-align: center;
	font-weight:bold;
	width: 31px;
	height: 29px;
	padding-top: 10px;
	background-repeat: no-repeat;
	display: inline-block;
}
.icon_cal a:hover {
	color:#00F;
}
.SmallCalBooked {
	background-image:url(/images/CalBooking.png);
	background-repeat:no-repeat;
}
.arrowLEFT a {
	background-image:url(/images/arrow_LEFT.png);
	height: 11px;
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	text-decoration:none;
	cursor:pointer;
}
.arrowLEFT a:hover {
	background-image:url(/images/arrow_LEFT_H.png);
}
.arrowRIGHT a {
	background-image:url(/images/arrow_RIGHT.png);
	height: 11px;
	background-repeat:no-repeat;
	background-position:center;	
	display:block;
	text-decoration:none;
	cursor:pointer;
}
.arrowRIGHT a:hover {
	background-image:url(/images/arrow_RIGHT_H.png);
}
.CalPageLink {
	display:inline-block;
	width:100%;
	height:54px;
	background-image:url(/images/EventPageLink.jpg);
	background-position:center;
	background-repeat:no-repeat;
	cursor:pointer;
}
.TemplateImage {
	cursor:pointer;
}
.DIVFocus {
	border: 2px solid #8BADE4;
}
.DIVNoFocus {
	border: 2px solid #FFF ;
}
.EditRow {
	position:relative;
	z-index:2;
}
a.DisplayRow {
	position:relative;
	display:inline-block;
	height:100%;
	width:700px;
	border:thick solid #FFF;
	filter: alpha(opacity=40);
	opacity:0.4;
	z-index:1;
}
a.DisplayRow:hover {
	background-color:#F2F2F2;
	border:thick solid #999 ;
	filter: alpha(opacity=100);
	opacity:1;	
	z-index:1;
}
a.EditPageMenuText {
	color:#F0F0F0;
	font-size:12px;
	cursor:pointer;
	position:relative;
	top:0px;
}
a.ReviewButton:hover {
	color:#FF0;
}
.EditMainMenu {
	position:relative;
	background-image:url(/PageEditor/images/toolbar.png);
	background-position:right;
	background-repeat:no-repeat;
	width:456px;
}
div .label {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal; 
	font-weight: normal; 
	font-variant: normal; 
	color: #003300; 
	text-align: left; 
	width: 250px; 
	float: left
}
div .value { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-style: normal; 
	font-weight: normal; 
	font-variant: normal; 
	color: #333333; 
	text-align: left 
}
div .item { 
}
h2 {
	text-align:left;
	font-size:14px;
	padding-top:10px;
	padding-bottom:5px;
}
.Help {
	position:absolute;
	background-image:url(/images/bg_l_help_toolbar.png); 
	background-position:top right;
	padding-right:26px;
	top:10px; 
	left:175px;	
	width:0px;
	height:280px;
	opacity:0.7;
	z-index:11;
	color:#CCC;
	text-align:left;
}
.Help a {
	color:#FFF;
	text-decoration:none;
}
.Help:hover {
	top:0px;
	width:285px;
	height:500px;
	opacity:1;
	z-index:11;
}
.progressBar {
    width: 160px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 3px; 
    overflow: hidden;
    display:inline-block;
    vertical-align:top;
	position:relative;	
	margin-top:4px;
} 
.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 14px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #7B5B04; border-radius: 3px;
}
.statusbar
{
    height:55px;
    width:170px;
	border:#CCC thin solid;
    vertical-align:top;
	position:relative;
	top:-80px;
	left:-360px;
	margin-bottom:-70px;
	background-color:#3A2B02;
	opacity:0.8;
	padding-top:5px;
	padding-bottom:5px;
}
.filename
{
	display:inline-block;
	vertical-align:top;
	width:160px;
	color:#FFF;
	text-align:left;
}
.filesize
{
	display:inline-block;
	vertical-align:top;
	color:#ffffff;
	width:160px;
	text-align:left;
}
.abort{
    background-color:#A8352F;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;display:inline-block;
    color:#fff;
    font-family:arial;font-size:10px;font-weight:normal;
    padding:2px 15px;
    cursor:pointer;
    vertical-align:top;
}
.bookingForm select {
	background-color:#EFE8DF;
	border-color:#D3C4AD;
}
.bookingForm input {
	background-color:#EFE8DF;
	border-color:#D3C4AD;
}
.bookingForm checkbox {
	background-color:#EFE8DF;
	border-color:#D3C4AD;
}