.pc-btn-link {
    display: inline-flex;
    vertical-align: middle;
    font-size: 14px;
}
.pc-btn-link:hover {
    cursor: pointer;
}
.pc-docs-form {
    vertical-align: top;
    width: 200px;
}
.pc-docs-form .text-danger {
    margin-top: 10px;
    text-align: center;
}
.pc-docs {
    width: 350px;
}
.pc-docs-list {
    text-align: left;
    min-height: 600px;
}
.pc-col-name {
    width: 200px;
}
.pc-col-job {
    width: 120px;
}
.pc-col-rep {
    width: 150px;
}
.pc-top {
    vertical-align: top;
}
.pc-post-img img {
    position: relative;
    top: -40px;
    left: -80px;
    height: 250px;
    margin-bottom: -40px;
}
.pc-idocs div {
    vertical-align: top;
}
.pc-idocs iframe {
    position: relative;
    border: none;
    display: block;
    width: 640px;
    height: 900px;
}
.pc-map iframe {
    position: relative;
    border: none;
    display: block;
    width: 640px;
    height: 480px;
}
.pc-minutes-txt {
    vertical-align: top;
    z-index: 2;
}
.pc-minutes-txt a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}
.pc-minutes-txt span {
    padding-right: 10px;
}
.pc-minutes-txt a img {
    height: 25px;
    width: 25px;
}
.pc-minutes-txt p {
    font-size: 14px;
    color: #58735d;
    margin-bottom: -10px;
}
.pc-meeting-title {
    position: relative;
}
.pc-meeting-title img {
    position: absolute;
    top: 0px;
    padding-left: 100px;
}
.pc-file-list {
    width: 600px;
    margin: 0 auto;
}
.pc-file-list tbody tr {
    height: 40px;
}
.pc-file-list a {
    text-decoration: none;
    color: #0f0f0f;
}
.pc-iframe {
    position: relative;
    left: 40px;
    border: none;
    display: block;
    width: 900px;
    min-height: 600px;
    margin-bottom: -80px;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
}
.flex-item {
    padding: 5px;
}
.pc-post-it p {
    display: block;
    background-image: url("/glos/features/parish-council/img/postit_green.png");
    background-repeat: no-repeat;
    background-position: top center;
    width: 140px;
    height: 35px;
    position: relative;
    top: -160px;
}
.pc-post-it a {
    background-color: #ABC3B3;
    display: block;
    font-family: "Bradley Hand";
    font-weight: bold;
    font-size: 18px;
    box-shadow: 3px 3px 1px #4d4d4d;
    text-align: center;
    vertical-align: middle;
    text-wrap: normal;
    color: #4f504f;
    text-wrap: normal;
    width: 140px;
    height: 140px;
    padding: 20px 4px 4px 4px;
}
.pc-report-list {
    padding-left: 50px;
}
.pc-report-list p {
    font-size: 14px;
    color: #58735d;
}
.pc-report-list a {
    font-size: 16px;
    color: black;
}
.pc-report-list h4 {
    color: #304231;
    font-weight: bold;
}
