<div ng-controller="ParishCouncilController as pcc">
    <div class="flex-container flex-container-row">
        <div class="flex-container-row pc-docs primary-border">
            <div class="primary-title">Account Documents</div>
            <div class="primary-body pc-docs-list">list here</div>
        </div>

        <div class="flex-container-row pc-docs-form admin-border">
            <div class="admin-title">Upload New Document</div>
            <div class="admin-body pc-docs-list">
                <div class="pc-doc-form">
                    <form name="form" onsubmit="pcc.accountDocUpload" role="form">

                        <div class="form-group" ng-class="{ 'has-error': form.accountUploadDocName.$dirty && form.accountUploadDocName.$error.required }">
                            <label for="accountUploadDocName">Document Name/Description</label>
                            <input type="text"
                                   name="accountUploadDocName"
                                   id="accountUploadDocName"
                                   class="form-control"
                                   ng-model="pcc.accounting.upload.docName"
                                   required
                                   ng-click="pcc.resetErrors()" />
                            <span ng-show="form.accountUploadDocName.$dirty && form.accountUploadDocName.$error.required" class="help-block">Document name is required</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.accountUploadGroup.$dirty && form.accountUploadGroup.$error.required }">
                            <label for="accountUploadGroup">Group Name (e.g. 2016/17)</label>
                            <input type="text"
                                   name="accountUploadGroup"
                                   id="accountUploadGroup"
                                   class="form-control"
                                   ng-model="pcc.account.upload.group"
                                   required
                                   ng-click="pcc.resetErrors()" />
                            <span ng-show="form.accountUploadGroup.$dirty && form.accountUploadGroup.$error.required" class="help-block">Group name is required</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error': form.accountUploadDocType.$dirty && form.accountUploadDocType.$error.required }">
                            <label for="accountUploadDocType">Document Type</label>
                            <select name="accountUploadDocType"
                                    id="accountUploadDocType"
                                    class="form-control"
                                    ng-model="pcc.account.upload.docType"
                                    required
                                    ng-click="pcc.resetErrors()"
                                    ng-options="dt as dt.description for dt in pcc.accounting.docTypeOptions track by dt.documentType"></select>
                            <span ng-show="form.accountUploadDocType.$dirty && form.accountUploadDocType.$error.required" class="help-block">Document Type is required</span>
                        </div>

                        <div class="form-actions">
                            <button ng-disabled="form.$invalid || pcc.dataLoading" class="btn btn-sm btn-default pc-btn-link" ngf-select="pcc.accountDocUpload($file,pcc.accounting.upload)">
                                Upload Document <i class="material-icons">file_upload</i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="flex-container-row primary-border">
            <div class="primary-body">
                <a><img src="/web/img/getAdobe.png" width="140px" height="40px"></a>
            </div>
        </div>

    </div>
</div>