.pc-btn-link {
    display: inline-flex;
    vertical-align: middle;
    font-size: 14px;
}
.pc-btn-link:hover {
    cursor: pointer;
}
.pc-docs-form {
    vertical-align: top;
    width: 200px;
}
.pc-docs-form .text-danger {
    margin-top: 10px;
    text-align: center;
}
.pc-docs {
    width: 350px;
}
.pc-docs-list {
    text-align: left;
    min-height: 600px;
}
