.hm-title {
    position: relative;
    display: block;
    width: 900px;
    height: 207px;
    top: -110px;
    background-image: url("/web/features/the-horses-mouth/img/hm_title.png");
    background-repeat: no-repeat;
    background-position: top center;
    color: #BF360C;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-top: 160px;
    margin-bottom: -120px;
}
.hm-drag-drop {
    font-size: 12px;
    font-style: italic;
    color: #3A2B02;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: -10px;
}
.hm-upl-btn label {
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.hm-upl-btn input {
    display: none;
}
.hm-file-list {
    width: 600px;
    margin: 0 auto;
}
.hm-file-list tbody tr {
    height: 40px;
}