@import security.model.UserProfile
@import play.api.Play.current

@(webJarAssets: WebJarAssets, userProfile: UserProfile)
@config= @{play.Play.application().configuration() }

<!DOCTYPE html>
<html ng-app="horsley" >
	<head>
		<title>Horsley Parish, Gloucestershire, Community website</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scala=1"/>

		<link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
		<link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap-theme.css"))'>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome-4.6.3/css/font-awesome.css")"/>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/OpenSans.css")"/>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")"/>

		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-resource.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("1.5.8/angular-route.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-filter.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("0.2.18/angular-ui-router.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("ui-bootstrap-tpls.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-material.js"))'></script>
		<script type="text/javascript" src='@routes.Assets.at("javascripts/controllers.module.js")'></script>
		<script type="text/javascript" src='@routes.Assets.at("javascripts/app.js")'></script>

		<!-- Features -->

		<!-- Home-Page -->
		<script type="text/javascript" src='@routes.Assets.at("features/home-page/home-page.controller.js")'></script>

		<!-- Header -->
		<script type="text/javascript" src='@routes.Assets.at("features/common/header.directive.js")'></script>
		<link rel="stylesheet" href='@routes.Assets.at("features/common/header.css")'/>

		<!-- Side-Menu -->
		<script type="text/javascript" src='@routes.Assets.at("features/side-menu/side-menu.directive.js")'></script>
		<link rel="stylesheet" href='@routes.Assets.at("features/side-menu/side-menu.css")'/>

		<!-- Section-Navigation -->
		<script type="text/javascript" src='@routes.Assets.at("features/section-navigation/section-navigation-button.directive.js")'></script>
		<link rel="stylesheet" href='@routes.Assets.at("features/section-navigation/section-navigation-button.css")'/>

		<!-- Page-Loader -->
		<script type="text/javascript" src='@routes.Assets.at("features/page-loader/page-loader.directive.js")'></script>
		<link rel="stylesheet" href='@routes.Assets.at("features/page-loader/page-loader.css")'/>

		<!-- Home-Page -->
		<script type="text/javascript" src='@routes.Assets.at("features/home-page/home-page.controller.js")'></script>

		<!-- History -->
		<script type="text/javascript" src='@routes.Assets.at("features/history/history.controller.js")'></script>


		<script>
			var app = angular.module('horsleyParish',[]);
			var imagesDir = "@routes.Assets.at("images")";
			app.value("play_http_context", "@config.getString("play.http.context")");
		</script>

	</head>


	<body>
		<div id="page-wrapper">
			<header></header>
			<side-menu tab-title="Menu"></side-menu>
			<div class="main-container">
				<ng-view class="main-page"></ng-view>
				<div ng-include="'/web/features/common/page-footer.html'"></div>
			</div>
		</div>
	</body>


</html>