@import security.model.UserProfile
@import play.api.Play.current

@(webJarAssets: WebJarAssets, userProfile: UserProfile)
@config= @{play.Play.application().configuration() }

<!DOCTYPE html>
<html>
	<head>
		<title>Horsley Parish, Gloucestershire, Community website</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scala=1"/>

		<link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
		<link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap-theme.css"))'>
		<link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("angular-material.min.css"))'>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome-4.6.3/css/font-awesome.css")"/>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/OpenSans.css")"/>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/horsleyparish.css")"/>

		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-route.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-animate.min.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-aria.min.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-messages.min.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-material.min.js"))'></script>
		<script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("ui-bootstrap-tpls.js"))'></script>

		<script type="text/javascript" src='@routes.Assets.at("javascripts/app.js")'></script>

		<script>
			var app = angular.module('horsleyParish',[]);
			var imagesDir = "@routes.Assets.at("images")";

			app.value("play_http_context", "@config.getString("play.http.context")");
		</script>

	</head>


	<body ng-app="horsleyParish" class="pace-done">
		<div>
			<!-- Header wrapper -->
			<div ng-include="'/web/pages/common/page-header.html'"></div>

			<!-- Main view -->
			<div ng-view class="main-page"></div>

			<!-- footer wrapper -->
			<div ng-include="'web/pages/index.html'"></div>

		</div>
	</body>

</html>