@import security.model.UserProfile
@import play.api.Play

<!DOCTYPE html>
  <html ng-app="HorsleyParish">
    <head>
      <title>Horsley Parish, Gloucestershire, Community website</title>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scala=1"/>
      <link rel='stylesheet' href='@routes.Assets.at("../../public/css/bootstrap.min.css")'>
      <link rel="stylesheet" href="@routes.Assets.at("css/font-awesome-4.6.3/css/font-awesome.css")"/>
      <link rel="stylesheet" href="@routes.Assets.at("css/OpenSans.css")"/>
      <link rel="stylesheet" href="@routes.Assets.at("css/main.css")"/>

    </head>

      <body class="pace-done">
        <div>
          <div id="page-wrapper" class="gray-bg">

            <div class="middle-box text-center">
              <h1>404</h1>
              <h3 class="font-bold">Page Not Found</h3>
              <div>
                Sorry, but the page you are looking for has not been found.<br>
                Please check the URL (in the top of your browser) for any obvious errors.
                <br><br>
                <a href="web">Click here to return the Horsley Parish Home Page</a>
              </div>
            </div>

          </div>
        </div>
      </body>
    </html>